<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryu.helpyourchoice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.HelpYourChoice">
        <service android:name=".MusicService"
            android:enabled="true"/>
        <activity android:name=".HowToUseActivity"
            android:label="How To Use"/>
        <activity android:name=".SettingActivity"
            android:label="Setting"/>
        <activity android:name=".HistoryActivity"
            android:label="History"/>
        <activity android:name=".StartActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"/> <!-- EditText 작성 시 Roulette 모형이 깨지지 않게 하기 위함 -->
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>